
<%= @contacts.each do |contact| %>
<div class="booyah-box col-10 offset-1">
	<h1><%= contact.name %></h1>
	<i><%= contact.address %></i><br /><br />
	<p><%= contact.description %></p><br />
</div>
<% end %>


